.navbar {
  position: fixed;
  top: 0;
  width: 100%vw;
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  width: 100%;
  background-color: #99c435;
  height: 120px;
  color: #FFFFFF;
  box-shadow: 2px 2px 10px #397207;
  opacity: 95%;
  padding: 1em 1.5em;
  z-index: 100; /* top layer */
}

#logo {
  font-family: 'Bungee','Sans-Serif', cursive;
  font-size: 33px;
  text-shadow: 2px 2px 3px #307207; 
}

#logo:hover {
  color: yellow;
  transform: scale(104%);
}

.write-tweet {
  display:block;
  flex-direction: row;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 3px #307207; 
}
a.write-tweet:link {
  text-decoration: none;
}
a.write-tweet {
  text-decoration: none;
}
a.write-tweet:hover {
  rotate: (45deg);
  transform:scale(105%);
  color: yellow;
}

.write-tweet p {
  margin: 0;
 }

.write-tweet i {
  text-shadow: 2px 2px 3px #307207;
  margin: 0;
}