nav {
  position: sticky;
  width: 100%;
  background-color: #99c435;
  height: 120px;
  color: #FFFFFF;
}

#logo {
  position: absolute;
  top: 37px;
  font-family: 'Bungee','Sans-Serif', cursive;
  font-size: 33px;
  text-shadow: 2px 2px 2px #106d23;
  margin-left:1.5em;
  margin-right:1.5em;
}