.navbar {
  position: sticky;
  Display: flex;
  align-items: center; 
  justify-content: space-between; 
  width: 100%;
  background-color: #99c435;
  height: 120px;
  color: #FFFFFF;
  box-shadow: 2px 2px 10px #397207;
}

#logo {
  font-family: 'Bungee','Sans-Serif', cursive;
  font-size: 33px;
  text-shadow: 2px 2px 3px #307207; 

  margin-left:1.5em;
  margin-right:1.5em;
}

#logo:hover {
  font-size: 33.5px;
  color: yellow;
}

.write-tweet {
  flex-direction: row;
  margin-right:1.5em;
}

span.write-tweet {
  position: relative;
  float: right;
 }

i.write-tweet {
  text-shadow: 2px 2px 3px #307207;
}