
form {
  display: flex;
  flex-direction: column;
 
/* tweet text input */  
}
#tweet-text {
  border: none;
  border-bottom: 5px solid #97B09F;
  outline: none;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: #f4f1ec;
}


#tweet-button {
  font-family: "Bungee";
  font-size: 20px;
  color: darkslategrey;
  width: 100px;
  height: 40px;
  border-radius: 10%;
  box-shadow: 1px 1px 3px darkslategrey;
  background-image: linear-gradient(#A2E039, #d7edb2, #A2E039);
  border-color: white;
  filter:sepia();
  transition: filter 0.3s ease-in-out;
  
}

#tweet-button:hover {
  filter:none;
}

section.new-tweet form label {
  color: #6e6e6e;
}

/* entered characters counter */
#counter {
  font-family: "Bungee";
  position: relative;
  float: right;
}

/* applied when tweet exceeds 140 chars */
.red-counter {
  font-family: "Bungee";
  color: red;
}