.tweet-container {
  margin-top: 40px;
  display: flex;
  background-color: #f4f1ec;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

}

.tweet {
  padding: 15px;
  border-style: solid;
  border-color: #97B09F;
  border-width: 5px 5px 5px 5px;
}

.tweet header {
  display: flex;
  justify-content: space-between;
}

article.tweet header div.username i {
  color: red;
}

article.tweet main {
  padding: 10px;
}

.tweet:hover {
  box-shadow: 2px 2px 8px #99c435;
}

.fas {
  justify-content: space-around;
  margin: 5px;
}

.fas:hover {
  color: #99c435;
}